/* Variables para los temas */
:root {
    --bg-color: #ffffff;
    --text-color: #333333;
    --card-bg: rgba(255, 255, 255, 0.95);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --tooltip-bg: rgba(0, 0, 0, 0.8);
    --hover-color: #0366d6;
    --map-filter: none;
    --toast-bg: rgba(0, 0, 0, 0.8);
    --toast-text: #ffffff;
    --player-offline: #ff4444;
    --player-online: #00C851;
    --player-playing: #0099CC;
    --player-paused: #FFBB33;
    --player-icon: #ffffff;
    --monserrat-font: 'Montserrat', sans-serif;
    --worksans-font: 'Work Sans', sans-serif;
    --listeners-font-size: 0.6em;
    
}

[data-theme="dark"] {
    --bg-color: #1a1a1a;
    --text-color: #ffffff;
    --card-bg: rgba(40, 40, 40, 0.95);
    --shadow-color: rgba(0, 0, 0, 0.3);
    --tooltip-bg: rgba(60, 60, 60, 0.9);
    --hover-color: #58a6ff;
    --map-filter: brightness(0.7) contrast(1.2) saturate(0.8);
    --toast-bg: rgba(60, 60, 60, 0.9);
    --toast-text: #ffffff;
    --player-paused: #FFBB33;
    --player-icon: #dedbdb;
}

[data-theme="light"] {
    --bg-color: #ffffff;
    --text-color: #333333;
    --card-bg: rgba(255, 255, 255, 0.95);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --tooltip-bg: rgba(0, 0, 0, 0.8);
    --hover-color: #0366d6;
    --map-filter: none;
    --toast-bg: rgba(0, 0, 0, 0.8);
    --toast-text: #ffffff;
    --player-paused: #FFBB33;
    --player-icon: #868585;
}


/* Estilos para centrar y ajustar el SVG */
body,
html {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    min-height: 100vh;
    height: 100vh;
    overflow: hidden; /* Importante para evitar scroll */
    transition: background-color 0.5s ease, color 0.5s ease; /* Transición para el fondo y el texto */
}

.theme-transition {
    transition: background-color 0.5s ease, color 0.5s ease; /* Transición para el fondo y el texto */
}

.container-fluid {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center;
    padding: 0; /* Elimina el padding del container */
}

#map {
    width: 100%;
    height: 100%; /* El SVG ocupa todo el alto disponible */
    max-width: 100%; /* Evita que el SVG se desborde horizontalmente */
    display: block;
    margin: auto;
}

#fullscreenButton {
    position: absolute; /* Posicionamiento absoluto */
    bottom: 10px; /* Margen inferior */
    right: 10px; /* Margen derecho */
    z-index: 10; /* Asegura que el botón esté encima del mapa */
}

/* Estilos para la tarjeta de información */
#infoCard {
    width: 200px; /* Reducir el ancho de la tarjeta */
    position: absolute; /* Posicionamiento absoluto */
    box-shadow: 0 4px 8px var(--shadow-color);
    background-color: var(--card-bg);
    color: var(--text-color);
    border: none;
    z-index: 10; /* Asegura que la tarjeta esté encima del mapa */
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.3s ease; /* Transición para el fondo, el texto y la transformación */
}

#infoCard .card-header {
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem; /* Reducir el padding del header */
    transition: background-color 0.5s ease, color 0.5s ease; /* Transición para el fondo y el texto */
}

#infoCard .card-body {
    text-align: center;
    padding: 0.5rem; /* Reducir el padding del body */
    transition: background-color 0.5s ease, color 0.5s ease; /* Transición para el fondo y el texto */
}

#infoCard .card-title {
    font-size: 1rem; /* Reducir el tamaño del título */
    margin-bottom: 0.5rem; /* Reducir el margen inferior del título */
    transition: color 0.5s ease; /* Transición para el texto */
}

#infoCard .btn-link {
    color: var(--hover-color);
    text-decoration: none;
    font-size: 0.8rem; /* Reducir el tamaño del enlace */
    transition: color 0.5s ease; /* Transición para el texto */
}

#infoCard .btn-link:hover {
    text-decoration: underline;
}

#infoCard img {
    max-width: 80px; /* Reducir el tamaño del logo */
    height: auto;
    display: block;
    margin: 0 auto;
    transition: opacity 0.5s ease; /* Transición para la opacidad */
}

/* Estilos para la tarjeta de información en pantallas pequeñas */
.small-card {
    transform: scale(0.7); /* Escalar la tarjeta al 70% de su tamaño original */
    transform-origin: top right; /* Establecer el origen de la transformación en la esquina superior derecha */
}

/* Estilos para los círculos de las estaciones */
.station-circle {
    cursor: pointer;
    transition: fill 0.3s ease; /* Transición suave para el cambio de color */
}

.station-icon {
    pointer-events: none;
}

.station-icon i {
    color: var(--player-icon); /* Ajusta el color del icono */
    text-align: center;
    line-height: 20px; /* Ajusta según el tamaño del círculo */
    font-size: 20px; /* Ajusta según el tamaño del círculo */
}

.station-name {
    font-family: var(--worksans-font); /* Ajusta la fuente del nombre de la estación */
    font-size: 0.4em;
    fill: var(--text-color);
    transition: fill 0.3s ease;
    /* Otros estilos para el nombre de la estación */
}

.listeners-text {
    font-family: var(--monserrat-font); /* Ajusta la fuente del nombre de la estación */
    font-size: 0.4em; /* Ajusta el tamaño del texto */
    font-weight: bold;
    fill: var(--text-color); /* Ajusta el color del texto */
    text-anchor: middle; /* Centra el texto horizontalmente */
    alignment-baseline: middle; /* Centra el texto verticalmente */
    pointer-events: none; /* Evita que el texto interfiera con los clics en el círculo */
}

/* Estilos para el tooltip */
.tooltip {
    position: absolute;
    background-color: var(--tooltip-bg);
    color: var(--toast-text);
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8em;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* Para que no interfiera con los eventos del círculo */
}

.tooltip::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--tooltip-bg) transparent transparent transparent;
}

.tooltip.show {
    visibility: visible;
    opacity: 1;
}

/* Estilos para el toast */
.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--toast-bg);
    color: var(--toast-text);
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease; /* Agrega transición para transform */
    text-align: center; /* Centrar el texto */
}

.toast.show {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-10px); /* Agrega un pequeño desplazamiento hacia arriba */
}